@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="div-semi-centre">
    <div class="col-md-4">
        <div class="default-text">
            <h1>@ViewData["Title"]</h1>
            <p>
                Your password has been reset.
            </p>
            <div class="button">
                <a asp-page="./Login" > <button id="Register" type="button" class="w-100 btn btn-lg btn-primary">To Login</button></a>
            </div>
        </div>
    </div>
</div>
