@{
    ViewData["Title"] = "MainPage";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HermeApp.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HermeApp.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="chat-container">

            <div class="div1 grid-element1">Hermes</div>
            <div class="div2 grid-element2">Chat name</div>
            <div class="div3">
                <a class="btn">Create chat</a>
                <a class="btn">another user</a>
                <a class="btn">another user</a>
            </div>
            <div class="div4 grid-element4">Chatbox</div>

    </div>
</body>
</html>