@{
    ViewData["Title"] = "MainPage";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>Hermes</title>
    <link rel="stylesheet" href="~/css/chat.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <div class="chat-container">
        <div class="div1 grid-element1">Hermes</div>
        <div class="div2 grid-element2">
            <p id="chatName">Chat name</p>
            <a id="ProfileBtn" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage"><button id="logout" type="submit" class="nav-link btn btn-link text-light border-0">Profile</button></a>
        </div>
        <div class="div3">

            <input type="text" id="groupInput" />

            <button id="joinGroup">
                Join or make a group
            </button>

            <ul class ="no-bullets" id="userList">

            </ul>

            <ul class="no-bullets" id="groupList"></ul>

            
        </div>
        <div class="div4 grid-element4">  
            <ul id="messagesList" class="no-bullets">
            </ul>
            <div id="ChatInputArea">
                <input class="input" id="messageInput" type="text" autocomplete="off" placeholder="Write message here.." />
                <input type="button" id="sendButton" value="Send" />
            </div>
        </div>
    </div>
    <script src="src/index.js"></script>
</body>
<html>
</html>
</html>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>